@import "maplibre-gl/dist/maplibre-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Precise Pointy Teardrop */
.map-marker {
  width: 30px;
  height: 30px;
  background-color: #6366f1; /* Indigo */
  border: 2px solid white;
  /* Top-left, top-right, bottom-right, bottom-left */
  /* This creates a circle with one sharp corner */
  border-radius: 50% 50% 50% 0;
  /* Rotate so the sharp corner points exactly down */
  transform: rotate(-45deg);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
