@import "maplibre-gl/dist/maplibre-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-marker {
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 0;
  background: #ef4444;
  position: absolute;
  transform: rotate(-45deg);
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.map-marker::after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 7px 0 0 7px;
  background: white;
  position: absolute;
  border-radius: 50%;
}
