@import "maplibre-gl/dist/maplibre-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The sharp teardrop pin */
.map-marker {
  width: 32px;
  height: 32px;
  background-color: #6366f1; /* Indigo */
  border: 2px solid white;
  /* Top-left, top-right, bottom-right, bottom-left */
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
