@import "maplibre-gl/dist/maplibre-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* Modern Pointed Marker */
.map-marker {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #6366f1; /* Indigo color */
  border: 2px solid white;
  transform: rotate(-45deg);
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
}

.map-marker:hover {
  background: #4f46e5;
  transform: rotate(-45deg) scale(1.2);
}

/* The "Dot" inside the marker */
.map-marker::after {
  content: "";
  width: 12px;
  height: 12px;
  margin: 7px 0 0 7px;
  background: white;
  position: absolute;
  border-radius: 50%;
}
