@import "maplibre-gl/dist/maplibre-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* The invisible container MapLibre uses for positioning */
.marker-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The actual Indigo Pin */
.map-marker {
  width: 24px;
  height: 24px;
  background-color: #4f46e5;
  border: 2px solid white;
  border-radius: 50% 50% 50% 0;
  /* Keep the rotation, but add a 10px downward shift */
  transform: rotate(-45deg) translate(-10px, 10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
